<div class="about-section">
  <h1>About Us Page</h1>
  <p>We Are weird and our products are the weirdest thing you will ever find</p>
  <p>If you are like us browse our products and if you like something. Buy it.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">

  <div class="column">
    <div class="card">
    <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>The whole thing is my idea</p>
        <p>jane@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>I help Jane with everything from the very start.</p>
        <p>mike@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>I am looking for a job. It is too weird here.</p>
        <p>john@example.com</p>
      </div>
    </div>
  </div>
</div>
